# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python byte code
*.pyc

#PyCharm IDE
.idea

#QtCreator files
CMakeLists.txt.user

# files that are (or might be) generated in-tree
sr_moveit_hand_config/default_warehouse_mongo_db/
sr_moveit_hand_config/config/generated_shadowhand.srdf
sr_moveit_hand_config/config/generated_shadowhand.urdf
sr_multi_moveit/sr_multi_moveit_config/config/generated_robot.srdf
